.Heading1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px #131317;
    color: #9996cd;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    width: 100%;
    padding: 20px;
  }