.Navigation {
  background-color: #D5D4E6;
  img{
    height: 2.4rem;
    filter: invert(5%) drop-shadow(1px 1px 1px black);
    &:hover {
      filter: invert(0) drop-shadow(1px 1px 1px black);
    }
  }
  .NavigationMenu {
    align-items: center;
    display: flex;
    li {
      align-items: center;
      border-right: 1px solid #efefef;
      display: flex;
      width: 100%;
      &:last-child {
        border-right: none;
      }
    }
    a {
      color: #efefef;
      display: flex;
      font-family: 'Trebuchet MS',Arial, sans-serif;
      font-size: 1.1rem;
      padding: 10px 5px;
      margin: 5px auto;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px #000;
      &:hover {
        color:#FFFFFF;
        text-decoration: none;
        }
      }
    .Active {
      color: #9996cd;
      text-shadow: 1px 1px 1px #000;
      text-decoration: none;
      &:hover {
        color:#9996cd;
      }
    }
  }

  @media (max-width: 768px) {
    .NavigationMenu {
      display: none;
    }
  }
}
