.jhGAZDd54seRFtpztRMfk {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px #131317;
  color: #9996cd;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  width: 100%;
  padding: 20px; }

._3SlMg2SoAEE482eUifPiX {
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5px 10px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  color: #e2e2e2;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0C0C0C;
  width: 100%; }

._2MDpDoMsx6jZ0t80Zx6y7O {
  color: #9996cd;
  font-size: 1.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center; }

._1w5Q0L7Zc_dW_XtzTTCcl2 {
  color: #9996cd;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%; }

@charset "UTF-8";
.K66bgHPJ6W9Nz6slOTAt4 {
  padding: 5px 0; }
  .K66bgHPJ6W9Nz6slOTAt4::before {
    content: "\2022";
    color: #9996cd;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem; }

