@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext);
._3bMHHXzvZi9E9AeA2Xrlo2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+80 */
  background: #eeeeee;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), color-stop(80%, #ffffff));
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  width: 100%; }
  ._3bMHHXzvZi9E9AeA2Xrlo2 ._3g2WTTnd-9e1e0zTduBh8m {
    display: -webkit-box;
    display: flex;
    max-width: 1024px;
    margin: auto;
    -webkit-box-pack: center;
            justify-content: center;
    flex-flow: wrap; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 16px; }

@media (max-width: 992px) {
  html {
    font-size: 14px; } }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: 'Lato', sans-serif;
  line-height: 1.23;
  box-sizing: border-box; }

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-indent: 1.5rem; }

a {
  text-decoration: none; }

main {
  padding: 0 25px;
  width: 100%; }

header {
  width: 100%;
  margin: auto 5px; }

ul {
  margin: 20px auto; }

._2qyFmrEcev8fF9Fzdu8aOh {
  width: 100%;
  border: 3px solid #F5F5F5;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
  margin: 20px;
  position: relative; }
  ._2qyFmrEcev8fF9Fzdu8aOh ul {
    margin: 0;
    padding: 0; }

._22H2fb1FQBUqdpN86clpeH {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0%;
  top: 0%;
  width: 100%; }
  ._22H2fb1FQBUqdpN86clpeH img {
    width: 100%;
    height: 100%;
    max-height: 376px; }

._3p1DeqSMi--V7v6o7QhHX2 {
  position: relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  opacity: 1; }

._3x5fVa87PjxyrzEcXHYFyx {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  opacity: 0; }

._3UM7wMYDA3purKlt7HlRKz {
  background-color: #D5D4E6; }
  ._3UM7wMYDA3purKlt7HlRKz img {
    height: 2.4rem;
    -webkit-filter: invert(5%) drop-shadow(1px 1px 1px black);
            filter: invert(5%) drop-shadow(1px 1px 1px black); }
    ._3UM7wMYDA3purKlt7HlRKz img:hover {
      -webkit-filter: invert(0) drop-shadow(1px 1px 1px black);
              filter: invert(0) drop-shadow(1px 1px 1px black); }
  ._3UM7wMYDA3purKlt7HlRKz .gKyfwc-GMT1V9bbpAgE-6 {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex; }
    ._3UM7wMYDA3purKlt7HlRKz .gKyfwc-GMT1V9bbpAgE-6 li {
      -webkit-box-align: center;
              align-items: center;
      border-right: 1px solid #efefef;
      display: -webkit-box;
      display: flex;
      width: 100%; }
      ._3UM7wMYDA3purKlt7HlRKz .gKyfwc-GMT1V9bbpAgE-6 li:last-child {
        border-right: none; }
  @media (max-width: 768px) {
    ._3UM7wMYDA3purKlt7HlRKz .gKyfwc-GMT1V9bbpAgE-6 {
      display: none; } }

._xqs9ACIKis4j6fxJQSMz {
  color: #efefef;
  text-shadow: 1px 1px 5px #000;
  text-decoration: none; }
  ._xqs9ACIKis4j6fxJQSMz:hover {
    color: #FFFFFF; }

._3UJ-_mnmFlUm5N7RFNL7IW {
  color: #9996cd;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none; }
  ._3UJ-_mnmFlUm5N7RFNL7IW:hover {
    color: #9996cd; }

._3UJ-_mnmFlUm5N7RFNL7IW, ._xqs9ACIKis4j6fxJQSMz {
  display: -webkit-box;
  display: flex;
  font-family: 'Trebuchet MS',Arial, sans-serif;
  font-size: 1.1rem;
  padding: 10px 5px;
  margin: 5px auto;
  text-align: center;
  text-transform: uppercase; }

._3JocKpaP0r-IwZzzfY8dVb {
  background-color: #D5D4E6;
  display: none;
  position: relative; }
  ._3JocKpaP0r-IwZzzfY8dVb ._1c9Vz5k3GyldpbEdzbnQtH {
    background-color: #D5D4E6;
    position: absolute;
    top: 100%;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    width: 100%;
    z-index: 100; }
    ._3JocKpaP0r-IwZzzfY8dVb ._1c9Vz5k3GyldpbEdzbnQtH ul {
      margin: 0 25px; }
    ._3JocKpaP0r-IwZzzfY8dVb ._1c9Vz5k3GyldpbEdzbnQtH li:not(:first-child) {
      border-top: 1px solid #efefef; }
  ._3JocKpaP0r-IwZzzfY8dVb ._2d3Mzvakz-idA8xZ-VTM3w {
    color: #d8b093; }

@media (max-width: 768px) {
  ._3JocKpaP0r-IwZzzfY8dVb {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end; } }

._2coq5YwvL-k1X02iEuAnvb {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1); }

._2SJT0df7Y2PgUNuga7DD5Y {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0); }

._2J6e0nijJeXcQ7VL7iNW4c {
  background: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  height: 25px;
  padding: 0;
  position: relative;
  width: 25px;
  cursor: pointer; }
  ._2J6e0nijJeXcQ7VL7iNW4c:focus {
    outline-color: #d8b093; }
  ._2J6e0nijJeXcQ7VL7iNW4c span {
    background: #383838;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    width: 22px;
    z-index: 500px; }
    ._2J6e0nijJeXcQ7VL7iNW4c span::before, ._2J6e0nijJeXcQ7VL7iNW4c span::after {
      content: "";
      background: #383838;
      height: 2px;
      left: 50%;
      position: absolute;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-transition: top 0.5s, left 0.5s, -webkit-transform 0.5s;
      transition: top 0.5s, left 0.5s, -webkit-transform 0.5s;
      transition: top 0.5s, left 0.5s, transform 0.5s;
      transition: top 0.5s, left 0.5s, transform 0.5s, -webkit-transform 0.5s;
      width: 22px; }
    ._2J6e0nijJeXcQ7VL7iNW4c span::before {
      top: 8px; }
    ._2J6e0nijJeXcQ7VL7iNW4c span::after {
      top: -8px; }

._27agobvnxAFyKBO6X-QYla span {
  background: rgba(0, 0, 0, 0); }
  ._27agobvnxAFyKBO6X-QYla span::before {
    left: 0;
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  ._27agobvnxAFyKBO6X-QYla span::after {
    left: 0;
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

._2aabyOn6V5pkigNIlVeBit {
  background-color: #EEEEEE;
  border-top: 1px solid grey;
  width: 100%; }
  ._2aabyOn6V5pkigNIlVeBit ._3PRXlzSjk5x2HA-Y4m6B1d {
    margin: 0px auto;
    max-width: 1024px;
    padding: 40px; }
  ._2aabyOn6V5pkigNIlVeBit p {
    font-size: 1rem;
    margin: 0; }
  ._2aabyOn6V5pkigNIlVeBit span {
    color: black;
    font-weight: bold; }

._2abCJ6be9b14WFNGHzrmaF ul {
  width: 100%; }
  ._2abCJ6be9b14WFNGHzrmaF ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: column;
            flex: column;
    padding: 0.5rem 0;
    -webkit-box-align: center;
            align-items: center; }
    ._2abCJ6be9b14WFNGHzrmaF ul li div:nth-of-type(1) {
      text-transform: uppercase; }
    ._2abCJ6be9b14WFNGHzrmaF ul li div:nth-of-type(2) {
      color: #9996cd; }
    ._2abCJ6be9b14WFNGHzrmaF ul li div {
      font-size: 1.2rem;
      font-weight: bold;
      width: 50%; }

@media (max-width: 768px) {
  ._2abCJ6be9b14WFNGHzrmaF li div:nth-of-type(2) {
    text-align: right; } }

._3ldQfhLZx5SpxpTJOWRSSS {
  display: -webkit-box;
  display: flex;
  margin: 0.25rem;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center; }
  ._3ldQfhLZx5SpxpTJOWRSSS img {
    width: 100%;
    height: 100%; }

._2k56Jmmj5XfsSg9l6bgOC9 ul {
  max-width: 300px; }

._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH {
  display: -webkit-box;
  display: flex;
  margin-right: 4rem;
  flex-flow: wrap; }
  ._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH div {
    -webkit-box-pack: end;
            justify-content: flex-end; }
  ._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH img {
    max-width: 200px; }

._2k56Jmmj5XfsSg9l6bgOC9 h4 {
  color: black; }

@media (max-width: 599px) {
  ._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH {
    display: -webkit-box;
    display: flex;
    margin-right: 0;
    flex-flow: nowrap; }
  ._2k56Jmmj5XfsSg9l6bgOC9 ul {
    margin-left: 0; } }

.-JAODbSaQOqkoGQg4tA33 img {
  max-width: 500px; }

.-JAODbSaQOqkoGQg4tA33 ul {
  margin: 0 auto; }

._2Rfv9OM7CzjOjRiSbnuC-O img {
  max-width: 500px; }

._2Rfv9OM7CzjOjRiSbnuC-O ul {
  margin: 0 auto; }

._1i_ybuIVszX-XJshNxKlIh {
  color: black; }
  ._1i_ybuIVszX-XJshNxKlIh:hover {
    color: #9996cd; }

.HQuW9-CAFgXvfIoFSGv0Z {
  color: #9996cd; }
  .HQuW9-CAFgXvfIoFSGv0Z:hover {
    color: #9996cd;
    text-decoration: none; }

._1QrU94mj0ER7MgqpI_2Qlg {
  padding: 20px 20px 20px 0;
  margin-top: 20px; }
  ._1QrU94mj0ER7MgqpI_2Qlg ul {
    margin-left: 20px; }
    ._1QrU94mj0ER7MgqpI_2Qlg ul li {
      list-style-type: circle;
      margin: 10px 5px;
      font-size: 1rem; }
      ._1QrU94mj0ER7MgqpI_2Qlg ul li:first-of-type {
        font-weight: bold;
        font-size: 1.2rem;
        list-style-type: none; }

@media (max-width: 599px) {
  ._1QrU94mj0ER7MgqpI_2Qlg {
    margin-top: 0;
    padding-top: 0; }
    ._1QrU94mj0ER7MgqpI_2Qlg ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: row wrap; }
      ._1QrU94mj0ER7MgqpI_2Qlg ul li {
        margin: 0;
        padding: 5px 10px;
        list-style-type: none;
        border-right: 1px solid black; }
        ._1QrU94mj0ER7MgqpI_2Qlg ul li:last-child {
          border-right: none; } }

._2-U0zaERU5575niO59U-6A li {
  font-size: 1.25rem;
  padding: 0.5rem; }

._1CVxnfHoj2Z4nASeTmqZo4 h3 {
  text-align: left; }

._1CVxnfHoj2Z4nASeTmqZo4 p {
  margin-top: 0;
  margin-bottom: 0; }
  ._1CVxnfHoj2Z4nASeTmqZo4 p:last-child {
    margin-bottom: 1rem; }

._1CVxnfHoj2Z4nASeTmqZo4 .-Lfa7u4Xuy0jZkJkt2MvG {
  width: 100%;
  margin: 1rem 0; }
  ._1CVxnfHoj2Z4nASeTmqZo4 .-Lfa7u4Xuy0jZkJkt2MvG iframe {
    padding: 0 1%;
    width: 50%;
    height: 300px; }
  @media (max-width: 768px) {
    ._1CVxnfHoj2Z4nASeTmqZo4 .-Lfa7u4Xuy0jZkJkt2MvG iframe {
      width: 100%;
      padding: 1rem 0; } }

._3htCuNnqYDxFEmIqrBMBxT ul {
  margin-left: 4rem; }

._3htCuNnqYDxFEmIqrBMBxT div {
  padding-left: 2rem;
  -webkit-box-pack: start;
          justify-content: flex-start; }

@media (max-width: 599px) {
  ._3htCuNnqYDxFEmIqrBMBxT div {
    padding: 0;
    -webkit-box-pack: center;
            justify-content: center; } }

._1YOvl-oWBwmh4_qi8YeC_Z img {
  max-width: 500px; }

._1YOvl-oWBwmh4_qi8YeC_Z ul {
  margin: 0 30px 20px 0; }

._20FqENAkZEXW7Zc0Ugd18I ul {
  margin-left: 4rem; }

._20FqENAkZEXW7Zc0Ugd18I h4 {
  color: black; }

._20FqENAkZEXW7Zc0Ugd18I img {
  max-width: 400px; }

