@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext);
._1QrU94mj0ER7MgqpI_2Qlg {
  padding: 20px 20px 20px 0;
  margin-top: 20px; }
  ._1QrU94mj0ER7MgqpI_2Qlg ul {
    margin-left: 20px; }
    ._1QrU94mj0ER7MgqpI_2Qlg ul li {
      list-style-type: circle;
      margin: 10px 5px;
      font-size: 1rem; }
      ._1QrU94mj0ER7MgqpI_2Qlg ul li:first-of-type {
        font-weight: bold;
        font-size: 1.2rem;
        list-style-type: none; }
  ._1QrU94mj0ER7MgqpI_2Qlg a {
    color: black; }
    ._1QrU94mj0ER7MgqpI_2Qlg a:hover {
      color: #9996cd; }
  ._1QrU94mj0ER7MgqpI_2Qlg ._1GDI6Fe9G7i3tsMypD2ow1 {
    color: #9996cd; }
    ._1QrU94mj0ER7MgqpI_2Qlg ._1GDI6Fe9G7i3tsMypD2ow1:hover {
      color: #9996cd;
      text-decoration: none; }

@media (max-width: 599px) {
  ._1QrU94mj0ER7MgqpI_2Qlg {
    margin-top: 0;
    padding-top: 0; }
    ._1QrU94mj0ER7MgqpI_2Qlg ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: row wrap; }
      ._1QrU94mj0ER7MgqpI_2Qlg ul li {
        margin: 0;
        padding: 5px 10px;
        list-style-type: none;
        border-right: 1px solid black; }
        ._1QrU94mj0ER7MgqpI_2Qlg ul li:last-child {
          border-right: none; } }

._3bMHHXzvZi9E9AeA2Xrlo2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+80 */
  background: #eeeeee;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), color-stop(80%, #ffffff));
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  width: 100%; }
  ._3bMHHXzvZi9E9AeA2Xrlo2 ._3g2WTTnd-9e1e0zTduBh8m {
    display: -webkit-box;
    display: flex;
    max-width: 1024px;
    margin: auto;
    -webkit-box-pack: center;
            justify-content: center;
    flex-flow: wrap; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 16px; }

@media (max-width: 992px) {
  html {
    font-size: 14px; } }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: 'Lato', sans-serif;
  line-height: 1.23;
  box-sizing: border-box; }

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-indent: 1.5rem; }

a {
  text-decoration: none; }

main {
  padding: 0 25px;
  width: 100%; }

header {
  width: 100%;
  margin: auto 5px; }

ul {
  margin: 20px auto; }

._2qyFmrEcev8fF9Fzdu8aOh {
  width: 100%;
  border: 3px solid #F5F5F5;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
  margin: 20px;
  position: relative; }
  ._2qyFmrEcev8fF9Fzdu8aOh ul {
    margin: 0;
    padding: 0; }

._22H2fb1FQBUqdpN86clpeH {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0%;
  top: 0%;
  width: 100%; }
  ._22H2fb1FQBUqdpN86clpeH img {
    width: 100%;
    height: 100%;
    max-height: 376px; }

._3p1DeqSMi--V7v6o7QhHX2 {
  position: relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  opacity: 1; }

._3x5fVa87PjxyrzEcXHYFyx {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  opacity: 0; }

._2GcalAWDopZlekI5Sueusc {
  background-color: #D5D4E6; }
  ._2GcalAWDopZlekI5Sueusc img {
    height: 2.4rem;
    -webkit-filter: invert(5%) drop-shadow(1px 1px 1px black);
            filter: invert(5%) drop-shadow(1px 1px 1px black); }
    ._2GcalAWDopZlekI5Sueusc img:hover {
      -webkit-filter: invert(0) drop-shadow(1px 1px 1px black);
              filter: invert(0) drop-shadow(1px 1px 1px black); }
  ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex; }
    ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL li {
      -webkit-box-align: center;
              align-items: center;
      border-right: 1px solid #efefef;
      display: -webkit-box;
      display: flex;
      width: 100%; }
      ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL li:last-child {
        border-right: none; }
    ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL a {
      color: #efefef;
      display: -webkit-box;
      display: flex;
      font-family: 'Trebuchet MS',Arial, sans-serif;
      font-size: 1.1rem;
      padding: 10px 5px;
      margin: 5px auto;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px #000; }
      ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL a:hover {
        color: #FFFFFF;
        text-decoration: none; }
    ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL ._122DuxFDoaaY9UcMYmYYB1 {
      color: #9996cd;
      text-shadow: 1px 1px 1px #000;
      text-decoration: none; }
      ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL ._122DuxFDoaaY9UcMYmYYB1:hover {
        color: #9996cd; }
  @media (max-width: 768px) {
    ._2GcalAWDopZlekI5Sueusc ._3fNpBiDwaGvUXhH7TA9uvL {
      display: none; } }

._3SlMg2SoAEE482eUifPiX {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px #131317;
  color: #9996cd;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  width: 100%;
  padding: 20px; }

._2MDpDoMsx6jZ0t80Zx6y7O {
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5px 10px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  color: #e2e2e2;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0C0C0C;
  width: 100%; }

._1w5Q0L7Zc_dW_XtzTTCcl2 {
  color: #9996cd;
  font-size: 1.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center; }

._2EPDMH0lNPucxmt6bLkNe6 {
  color: #9996cd;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%; }

._2aabyOn6V5pkigNIlVeBit {
  background-color: #EEEEEE;
  border-top: 1px solid grey;
  width: 100%; }
  ._2aabyOn6V5pkigNIlVeBit ._3PRXlzSjk5x2HA-Y4m6B1d {
    margin: 0px auto;
    max-width: 1024px;
    padding: 40px; }
  ._2aabyOn6V5pkigNIlVeBit p {
    font-size: 1rem;
    margin: 0; }
  ._2aabyOn6V5pkigNIlVeBit span {
    color: black;
    font-weight: bold; }

._2-U0zaERU5575niO59U-6A li {
  font-size: 1.25rem;
  padding: 0.5rem; }

._3ldQfhLZx5SpxpTJOWRSSS {
  display: -webkit-box;
  display: flex;
  margin: 0.25rem;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center; }
  ._3ldQfhLZx5SpxpTJOWRSSS img {
    width: 100%;
    height: 100%; }

._2k56Jmmj5XfsSg9l6bgOC9 ul {
  max-width: 300px; }

._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH {
  display: -webkit-box;
  display: flex;
  margin-right: 4rem;
  flex-flow: wrap; }
  ._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH div {
    -webkit-box-pack: end;
            justify-content: flex-end; }
  ._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH img {
    max-width: 200px; }

._2k56Jmmj5XfsSg9l6bgOC9 h4 {
  color: black; }

@media (max-width: 599px) {
  ._2k56Jmmj5XfsSg9l6bgOC9 .Pj_vuHwscD8weh1iv5uLH {
    display: -webkit-box;
    display: flex;
    margin-right: 0;
    flex-flow: nowrap; }
  ._2k56Jmmj5XfsSg9l6bgOC9 ul {
    margin-left: 0; } }

._2abCJ6be9b14WFNGHzrmaF ul {
  width: 100%; }
  ._2abCJ6be9b14WFNGHzrmaF ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: column;
            flex: column;
    padding: 0.5rem 0;
    -webkit-box-align: center;
            align-items: center; }
    ._2abCJ6be9b14WFNGHzrmaF ul li div:nth-of-type(1) {
      text-transform: uppercase; }
    ._2abCJ6be9b14WFNGHzrmaF ul li div:nth-of-type(2) {
      color: #9996cd; }
    ._2abCJ6be9b14WFNGHzrmaF ul li div {
      font-size: 1.2rem;
      font-weight: bold;
      width: 50%; }

@charset "UTF-8";
.K66bgHPJ6W9Nz6slOTAt4 {
  padding: 5px 0; }
  .K66bgHPJ6W9Nz6slOTAt4::before {
    content: "\2022";
    color: #9996cd;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem; }


/*# sourceMappingURL=styles.chunk.css.map*/