.FalaUderzeniowa {
  .Pics {
    display: flex;
    margin-right: 4rem;
    flex-flow: wrap;
  }
  h4{
    color: black;
  }
  @media (max-width: 599px) {
    .Pics {
      display: flex;
      margin-right: 0;
      flex-flow: nowrap;
    }
    ul {
      margin-left: 0;
    }
  }
  .Index {
    color: #9996cd;
    vertical-align: super;
  }
}